
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Projet MVC IS3 </h1>
        <br /> @Html.ActionLink("Vers les Users", "Index", "Users")
        <br /> @Html.ActionLink("Vers les Ammoes", "Index", "Ammoes")
        <br /> @Html.ActionLink("Vers les Weapon", "Index", "Weapon")
        <br /> @Html.ActionLink("Vers les Certificats", "Index", "Certificats")
    </div>
</body>
</html>
